ion-title {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

ion-avatar{
    position: relative;
    bottom: -20px;
}

.center-avatar {
    margin: auto; // centrar logo
}

ion-content{
    position: relative;
    bottom: -30px;
}
.validation-messages{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}